.friend {
	color: #6495ED;
	display: flex;
	flex-direction: column;
	flex-basis: 33%;
	padding-bottom: 7px;
	font-size: 13px;
	align-items: center;
}

.avatar {
	background: #6495ED;
	width: 35px;
	height: 35px;
	border-radius: 50%;
}