.nav {
	margin-right: 35px;
 }
 .nav a{
	color: #6495ED;
	text-decoration: none;
	display: block;
	padding-bottom: 10px;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
 }
 .nav a::after {
	content: '';
	height: 6px;
	width: 6px;
	border-radius: 50%;
	margin-right: 8px;
	background: #fff;
 }
 .nav a:hover {
	text-decoration: underline;
 }
.nav .active::after {
	background: #6495ED;
}

/* Мобильное меню */
.mobile_nav {
	display: none;
}
@media (max-width: 699px) {
	.nav {
		margin: 0;
	}
	.full_nav {
		display: none;
	}
	.mobile_nav {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		background: #ffffff;
		z-index: 1000;
	}
}