.nav_block {
	width: 20%;
}
.nav {
	margin-right: 35px;
 }
 .nav a{
	color: #6495ED;
	text-decoration: none;
	display: block;
	padding-bottom: 10px;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
 }
 .nav a::after {
	content: '';
	height: 6px;
	width: 6px;
	border-radius: 50%;
	margin-right: 8px;
	background: #fff;
 }
 .nav a:hover {
	text-decoration: underline;
 }
.nav .active::after {
	background: #6495ED;
}
